language: node_js
node_js:
  - 'stable'
  - 'iojs'
  - '0.11'

before_install:
  - 'sudo apt-key adv --keyserver keyserver.ubuntu.com --recv 7F0CEB10'
  - 'echo "deb http://repo.mongodb.org/apt/debian wheezy/mongodb-org/3.0 main" | sudo tee /etc/apt/sources.list.d/mongodb-org-3.0.list'
  - 'sudo apt-get update'
  - 'sudo apt-get install -y mongodb-org'
  - 'sudo mongod --fork --logpath /dev/null --dbpath $(mktemp -d)'