h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
}

h1, h2, h3 {
  margin-top: 20px;
}

h1, h2, h3, h4 {
  letter-spacing: inherit;
  color: inherit;
  font-family: inherit;
  margin-bottom: 10px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

ol {
  margin-left: 40px;
  list-style: decimal;
}

p, li {
  line-height: 1.6em;
}

mark {
  background: #fdffb6;
  padding: 2px 4px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
  
  p {
    margin: 0;
  }
  
  &.warning {
    border-color: #ffcd2c;
  }
}

span.badge {
  padding: 3px 7px 2px;
  margin-left: 6px;
  background: #bf1b22;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

@media (min-width: 550px) {
  div.row {
    margin-bottom: 20px;
  }
  
  div.column, div.columns {
    margin-left: 10%;
  }
  
  div.column:first-child, div.columns:first-child {
    margin-left: 6%;
  }
}

.text-center {
  text-align: center;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
