@charset 'utf-8';
@import 'compass';
@import 'normalize';
@import 'skeleton';
@import 'fonts';
@import 'syntax-highlighting';
@import 'common';

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

p {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  margin: 60px 0;
}

h3 {
  margin: 40px 0 10px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}

blockquote {
  margin-bottom: 30px;
}

a {
  text-decoration: none !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

div.container {
  margin-top: 40px;
  max-width: 800px;
}

nav.navbar {
  li {
    list-style: none;
    display: inline;
    margin-left: 20px;
    
    &:first-child {
      margin-left: 0;
    }
  }

  a {
    font-size: 16px;
    color: #666 !important;
    
    &:hover {
      color: #111 !important;
    }
    
    &.logo i {
      @include border-radius(50px);
      border: 1px solid #eee;
      color: #ccc;
      padding: 6px;
      font-size: 14px;
    }
  }
}

@media (max-width: 550px) {
  nav.navbar {
    text-align: center;
    
    li:first-child {
      display: block;
    }
  }
  
  h1 {
    margin-top: 20px;
  }
}

footer {
  margin: 60px 0 20px;
  text-align: center;
}
